.line-diagram {
  position: absolute;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: #ebf0f0;
  background-image: url('../images/line_diagrams/home.png');
  background-repeat: no-repeat;
  overflow: auto;
}

.line-diagram-dots {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.line-station-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.line-station-label {
  position: absolute;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  cursor: default;
}
