.map-container {
  position: relative;
  background-color: #ebf0f0;
  flex: 1;
}

#map {
  width: 100%;
  height: 100%;
  /* required to force map to display on small screens */
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* for error message */
.map-container-error > h2 {
  margin-left: 5px;
  margin-top: 5px;
}

.static-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-map > picture {
  max-width: 100%;
  max-height: 100%;
}

.static-map img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
}

/* map markers */
.map-marker:hover,
.map-marker.map-marker-highlight {
  fill: white !important;
  animation: none;
}

.map-marker-line-green.map-marker-grayed-out {
  fill: #a4c1b2;
}

.map-marker-line-orange.map-marker-grayed-out {
  fill: #ccbda9;
}

.map-marker-line-blue.map-marker-grayed-out {
  fill: #c0b6a8;
}

.map-marker-line-yellow.map-marker-grayed-out {
  fill: #ccc4a5;
}

.map-marker-line-purple.map-marker-grayed-out {
  fill: #c2b6c5;
}

/* .map-marker-line-lightgreen.map-marker-grayed-out {
  fill: auto;
} */

.map-marker-line-brown.map-marker-grayed-out {
  fill: #c0b6a8;
}

/* .map-marker-line-gray.map-marker-grayed-out {
  fill: auto;
} */

/* .map-marker-line-red.map-marker-grayed-out {
  fill: auto;
} */

.map-marker-flashing {
  animation-name: flashing-dot;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
}

.map-marker-line-green.map-marker-flashing {
  animation-name: flashing-dot-green;
}

.map-marker-line-orange.map-marker-flashing {
  animation-name: flashing-dot-orange;
}

.map-marker-line-blue.map-marker-flashing {
  animation-name: flashing-dot-blue;
}

.map-marker-line-yellow.map-marker-flashing {
  animation-name: flashing-dot-yellow;
}

.map-marker-line-purple.map-marker-flashing {
  animation-name: flashing-dot-purple;
}

.map-marker-line-lightgreen.map-marker-flashing {
  animation-name: flashing-dot-lightgreen;
}

.map-marker-line-brown.map-marker-flashing {
  animation-name: flashing-dot-brown;
}

.map-marker-line-gray.map-marker-flashing {
  animation-name: flashing-dot-gray;
}

.map-marker-line-red.map-marker-flashing {
  animation-name: flashing-dot-red;
}

/* TODO: Flashing dots in colors that match the lines */
@keyframes flashing-dot {
  0% { fill: black; }
  50% { fill: white; }
  100% { fill: black; }
}

@keyframes flashing-dot-green {
  0% { fill: black; }
  50% { fill: #83dbaf; }
  100% { fill: black; }
}

@keyframes flashing-dot-orange {
  0% { fill: black; }
  50% { fill: #fed9a9; }
  100% { fill: black; }
}

@keyframes flashing-dot-blue {
  0% { fill: black; }
  50% { fill: #a9d6f3; }
  100% { fill: black; }
}

@keyframes flashing-dot-yellow {
  0% { fill: black; }
  50% { fill: #feea8d; }
  100% { fill: black; }
}

@keyframes flashing-dot-purple {
  0% { fill: black; }
  50% { fill: #e7c8ed; }
  100% { fill: black; }
}

@keyframes flashing-dot-lightgreen {
  0% { fill: black; }
  50% { fill: #dfed88; }
  100% { fill: black; }
}

@keyframes flashing-dot-brown {
  0% { fill: black; }
  50% { fill: #d8bd90; }
  100% { fill: black; }
}

@keyframes flashing-dot-gray {
  0% { fill: black; }
  50% { fill: #cbcbcb; }
  100% { fill: black; }
}

/* TODO */
@keyframes flashing-dot-lightgray {
  0% { fill: black; }
  50% { fill: white; }
  100% { fill: black; }
}

/* TODO */
@keyframes flashing-dot-red {
  0% { fill: black; }
  50% { fill: white; }
  100% { fill: black; }
}
