.service-notice-container {
  overflow: hidden;
  overflow-y: auto;
  flex: 1 1 auto;
  height: 400px; /* Required for overflow-y to work in Firefox */
  padding-bottom: 1em;
  margin-bottom: 3px; /* Separation from footer implies scrollability */
}

.service-notice ul {
  padding: 0;
  list-style-type: none;
}

.service-notice li {
  margin-bottom: 1em;
  margin-top: 2em;
  line-height: 1.4;
}

.service-notice li img {
  vertical-align: text-bottom;
}

.service-notice p img {
  vertical-align: text-bottom;
}

.service-notice-details {
  display: none;
}

.service-notice-details {
  margin-bottom: 0;
}

.service-notice-details a {
  display: inline;
  color: blue !important;
  text-decoration: underline !important;
}

.service-notice-active .service-notice-details {
  display: block;
}

.icon-isa {
  height: 18px;
}

.service-notice {
  border-top: 1px solid #888;
  margin-top: 2em;
}

.service-notice > p {
  padding-right: 1.25em;
}

.service-notice > p:first-child {
  margin-top: 3px;
}

.service-notice-interactive {
  color: #666;
  cursor: pointer;
}

.service-notice-active {
  border-top: 1px solid black !important;
  color: black;
}
