.subway-lines {
  padding: 0;
  margin: 0;
  list-style-type: none;

  /* not great, position hack */
  margin-top: -29px;
  margin-bottom: 24px;
}

.subway-lines li {
  display: block;
  float: left;
  margin-right: 3px;
}

/* grid organization on mobile */
@media only screen and (max-width: 600px) {
  .subway-lines {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3px;
    object-fit: contain;
  }

  .subway-lines .subway-bullet {
    width: auto;
    height: auto;
  }
  
  .subway-lines li {
    margin: 0;
  }


}
