* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(234, 232, 225);
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 84px;
  flex: 0 0 84px;
}

footer {
  width: 100%;
  height: 20px;
  flex: 0 0 20px;
}

header,
footer {
  font-family: Helvetica, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  font-weight: bold;
  color: white;
  background-color: black;
}

header a,
header a:active,
header a:visited,
footer a,
footer a:active,
footer a:visited {
  color: #999;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  color: white;
}

main {
  flex-grow: 1;
  display: flex;
}

.info-panel {
  display: flex;
  flex-direction: column;
  width: 330px;
  flex: 0 0 330px;
  padding: 0 15px;
  background-color: rgb(234, 232, 225);
}

.info-panel > :first-child {
  margin-top: 5px;
}

/* Not sure about this */
.info-panel > h2 {
  flex: 0 0 40px;
}

.map-container {
  background-color: #ebf0f0;
  flex: 1;
}

#map {
  width: 100%;
  height: 100%;
}

.static-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-map > picture {
  max-width: 100%;
  max-height: 100%;
}

.static-map img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
}

.info-panel {
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.info-panel a {
  color: #666;
  text-decoration: none;
}

.info-panel a:hover {
  color: black;
}

h2 {
  font-size: 12px;
}

.heading-instructions {
  font-weight: normal;
  font-style: italic;
  margin-left: 0.5em;
}

.subway-bullet {
  width: 22px;
  height: 22px;
}

hr {
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  clear: both;
  margin: 0;
}

h3 {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0;
}

.subway-bullet-small {
  height: 14px;
}

.info-panel > section + section {
  margin-top: 1.25em;
  border-top: 1px solid black;
}

.service-notice {
  overflow: hidden;
  overflow-y: auto;
}

.service-notice ul {
  padding: 0;
  list-style-type: none;
}

.service-notice li {
  margin-bottom: 1em;
  line-height: 1.4;
}

.service-notice a {
  display: block; /* Mouse hovers over entire block, not just text */
  text-decoration: none;
  color: #666;
}

.service-notice a:hover {
  color: black;
}

.service-notice li img {
  vertical-align: text-bottom;
}

.service-notice p {
  line-height: 1.4;
}

.service-notice p img {
  vertical-align: text-bottom;
}